npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
node_modules
.pnp
.pnp.js
.eslintcache
coverage
.env
.env.*
.env.production
.next
out
build
dist
.yarn-integrity
.vercel
.DS_Store
*.pem
*.bak
cypress
*.css
*.css.map
.snowpack
sendgrid.env
