---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Navbar from "../components/Navbar.astro"
import "sanitize.css/sanitize.css"
import "sanitize.css/assets.css"
import "sanitize.css/reduce-motion.css"
import "sanitize.css/typography.css"
import "../styles/global.scss"
import { capitalize } from "../lib/utils.ts"

const {title} = Astro.props
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{capitalize(title)}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.svg" />
  <link rel="stylesheet" href={Astro.resolve('../styles/global.scss')}>

</head>
<body>
  <div id="app">
    <div>
      <Header />
      <Navbar />
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </div>
</body>

<!-- prettier-ignore -->
<style lang="scss">
  @keyframes logo-pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.06);
    }
  }

  #app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    height: 100vh;
    background-color: var(--background);
  }
</style>
