---
import "sanitize.css/sanitize.css"
import "sanitize.css/assets.css"
import "sanitize.css/reduce-motion.css"
import "styles/global.scss"
import Footer from "components/Footer.astro"
const { title } = Astro.props as { title: string }
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>eMpower | {title}</title>
    <meta
      name="Description"
      content="Meditation for children, teachers, and healthcare professionals."
    />

    <link
      rel="preload"
      href="/assets/fonts/verveine_std_rg-subset.woff2" as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/sacramento-regular-subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <link rel="mask-icon" href="/mask-icon.svg" color="#ff7a6b" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="grid center vh-100">
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
