---
import groq from "groq"
import sanityClient from "../lib/sanityClient"
import { dateOptions } from "../lib/utils"

const query = groq`{
  "posts": *[_type == "post"] | order(publishedAt desc){
    _id,
    publishedAt,
    "slug": slug.current,
    title
  }
}`
const response = await sanityClient.fetch(query)
const data = await response
---
<ul>
  {data.posts.map(post =>
    <li key={post._id}><a href="/blog/${post.slug}">{post.title}</a><br>
      {new Date(post.publishedAt).toLocaleDateString("en-GB", dateOptions)}
    </li>
  )}
</ul>
