---
import format from "date-fns/format"
import sanityClient from "lib/sanityClient"
import { blogQuery } from "lib/queries"

const response = await sanityClient.fetch(blogQuery)
const data = await response
---
<ul>
  {data.posts.map(post =>
    <li><a href="/blog/${post.slug}">{post.title}</a><br>
      {format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}
    </li>
  )}
</ul>
