---
import groq from "groq"
import sanityClient from "lib/sanityClient"
import format from "date-fns/format"

const query = groq`{
  "posts": *[_type == "post"] | order(publishedAt desc){
    _id,
    publishedAt,
    "slug": slug.current,
    title
  }
}`
const response = await sanityClient.fetch(query)
const data = await response
---
<ul>
  {data.posts.map(post =>
    <li><a href="/blog/${post.slug}">{post.title}</a><br>
      {format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}
    </li>
  )}
</ul>
