<section>
  <form id="contact-form">
    <p>Send a message with Astro</p>
    <label>First Name</label>
    <input
      type="text"
      value=""
      name="firstName"
      placeholder="Your name..."
    >
    <label>Last Name</label>
    <input
      type="text"
      value=""
      name="lastName"
      placeholder="Your last name..."
    >
    <label type="email">Email</label>
    <input
      type="text"
      value=""
      name="lastName"
      placeholder="Your email address..."
    >
    <label for="subject">Subject</label>
    <textarea
      name="message"
      value=""
      placeholder="Write something..."
    ></textarea>
    <input type="submit" value="Submit">
  </form>
</section>
<script src={Astro.resolve("./sendForm.ts")}></script>

<style>
input,
label {
  display: block;
}
textarea {
  height: 200px;
}
</style>
