---
const { site } = Astro.props
const year = new Date().getFullYear().toString()
const { email, siteName } = site
---

<footer class="container">
  <p>Contact: <a href="mailto:${email}">{email}</a></p>
  <p>&copy; {year} {siteName}</p>
</footer>
