---
import { Site } from "../lib/interfaces"
const { site } = Astro.props as { site: Site }
const year = new Date().getFullYear().toString()
const { email, siteName } = site
---

<footer class="footer container flex column">
  <div>
    <p><a href="mailto:${email}">{email}</a></p>
    <p>&copy; {siteName} {year}</p>
  </div>
  <div class="right">
    <p>&nbsp;</p>
    <p>site by <a href="https://mattcook.dev" target="_blank" rel="noreferrer">matt</a></p>
  </div>
</footer>

<style lang="scss">
@use '../styles/foundation/breakpoints' as b;

.footer {
  position: relative;
  z-index: 5;
  margin-bottom: 2vw;
  @include b.mq(md) {
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 0;
    a {
      color: var(--blue);
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: hsla(200, 71%, 52%, 0.1);
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}
</style>
