---
import { Settings } from "lib/interfaces"
const { settings } = Astro.props as { settings: Settings }
const year = new Date().getFullYear().toString()
---

<footer class="footer container flex column">
  <div>
    <p><a href={`mailto:${settings.email}`}>{settings.email}</a></p>
    <p>&copy; {settings.siteName} {year}</p>
  </div>
  <div class="right">
    <p>&nbsp;</p>
    <p>site by <a href="https://mattcook.dev" target="_blank" rel="noreferrer">matt</a></p>
  </div>
</footer>

<style lang="scss">
@use '../styles/foundation/breakpoints' as b;

.footer {
  position: relative;
  z-index: 5;
  margin-bottom: 2vw;
  @include b.mq(md) {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 0;
    font-size: 1.8rem;
    a {
      color: var(--blue);
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: hsla(200, 71%, 52%, 10%);
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}
</style>
