---
import Navbar from "components/Navbar.astro"
const { siteName } = Astro.props
---
<header class="container mb-large">
  <h1><a href="/">{siteName}</a></h1>
  <Navbar />
</header>

<style>

</style>
