---
import sanityClient from "lib/sanityClient"
import { buildUrl } from "lib/utils"
import { navbarQuery } from "lib/queries"

const response = await sanityClient.fetch(navbarQuery)
const data = await response
---
<nav class="nav">
  <ul class="flex row gap-small">
    {data.menu.items.map(item =>
      <li>
        <a
          href={buildUrl(item._type, item.slug)}
          class="text-black"
        >
          {item.title}
        </a>
      </li>
    )}
  </ul>
</nav>

<style lang="scss">

</style>
