---
import sanityClient from "lib/sanityClient"
import { navbarQuery } from "lib/queries"

const response = await sanityClient.fetch(navbarQuery)
const data = await response
---
<nav class="nav">
  <ul>
    {data.menu.items.map(item =>
      <li><a href="/${item.slug}">{item.title}</a></li>
    )}
  </ul>
</nav>
