---
import sanityClient from "../lib/sanityClient"
import { buildUrl } from "../lib/utils"
import { navbarQuery } from "../lib/queries"
import { Menu } from "../lib/interfaces"

const response = await sanityClient.fetch(navbarQuery)
const data: { menu: Menu } = await response
const { menu } = data
---
<nav class="nav">
  <div class="lg-hide">
    <ul class="nav__row flex row">
      {menu.items.map(item =>
        <li key={item._id}>
          <a
            href={buildUrl(item._type, item.slug)}
            class="nav__link text-white bold td-none"
          >
            {item.title}
          </a>
        </li>
      )}
    </ul>
  </div>
  <div class="hamburger-container" tabindex="0">
    <div class="hamburger lg-show hide"></div>
  </div>
</nav>

<style lang="scss">
@use '../styles/foundation/breakpoints' as b;

.nav {
  position: relative;
  z-index: 4;
  margin-top: 1em;
  margin-left: auto;
  &__row {
    gap: 2.7vw;
  }
  &__link {
    font-size: 1.9vw;
    border-bottom: 5px solid rgba(255, 255, 255, 0%);
    transition: border-bottom 0.3s ease-in-out;
    &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 80%);
      transition: border-bottom 0.3s ease-in-out;
    }
  }
}

.hamburger-container {
  height: 1.85em;
  margin: 0.5em 0 0;
  cursor: pointer;
}

.hamburger {
  position: relative;
  width: 3em;
  height: 0.25em;
  background-color: var(--white);
  border-radius: 0.2em;
  &::before,
  &::after {
    position: absolute;
    width: 3em;
    height: 0.25em;
    content: '';
    background-color: var(--white);
    border-radius: 0.2em;
  }
  &::before {
    top: 0.8em;
  }
  &::after {
    top: 1.6em;
  }
}
</style>
