---
import sanityClient from "lib/sanityClient"
import { buildUrl } from "lib/utils"
import { navbarQuery } from "lib/queries"

const response = await sanityClient.fetch(navbarQuery)
const data = await response
---
<nav class="nav">
  <ul class="flex row gap-sm">
    {data.menu.items.map(item =>
      <li>
        <a
          href={buildUrl(item._type, item.slug)}
          class="nav__link text-white bold td-none"
        >
          {item.title}
        </a>
      </li>
    )}
  </ul>
</nav>

<style lang="scss">
.nav {
  position: relative;
  z-index: 4;
  margin-top: 1em;
  margin-left: auto;
  &__link {
    font-size: 2.4rem;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.3s ease-in-out;
    &:hover {
      border-bottom: 1.5px solid rgba(255, 255, 255, 0.8);
      transition: border-bottom 0.3s ease-in-out;
    }
  }
}
</style>
