---
import sanityClient from "lib/sanityClient"
import { buildUrl } from "lib/utils"
import { navbarQuery } from "lib/queries"

const response = await sanityClient.fetch(navbarQuery)
const data = await response
---
<nav class="nav">
  <ul class="red">
    {data.menu.items.map(item =>
      <li><a href={buildUrl(item._type, item.slug)}>{item.title}</a></li>
    )}
  </ul>
</nav>

<style lang="scss">

</style>
