.grid {
  display: grid;
  grid-template-rows: 1fr auto;
}

.center {
  text-align: center;
  place-items: center;
}

.sacramento {
  font-family: Sacramento;
}

.vh-100 {
  height: 100vh;
}

vw-100 {
  width: 100vw;
}

.p-small {
  padding: 1rem 0;
}
