---
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import { notFoundQuery } from "lib/queries"
import { Navigation, Settings } from "lib/interfaces"

const response = await sanityClient.fetch(notFoundQuery)
const data: {
  navigation: Navigation
  settings: Settings
} = await response
const { navigation, settings } = data as {
  navigation: Navigation
  settings: Settings
}
---
<BaseLayout {navigation} {settings}>
  <div class="sans center">
    <h1>not found</h1>
    <p>this path does not exist</p>
    <a href="/">home</a>
  </div>
</BaseLayout>
