---
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import { authorsQuery } from "lib/queries"

const response = await sanityClient.fetch(authorsQuery)
const data = await response
const title = "All Authors"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <br>
    <ul>
      {data.authors.map(authors =>
        <li>
          <a href="/authors/${authors.slug}">{authors.name}</a>
        </li>
      )}
    </ul>
  </div>
</BaseLayout>
