---
import format from "date-fns/format"
import sanityClient from "../lib/sanityClient"
import { buildUrl } from "../lib/utils"
import BaseLayout from "../layouts/BaseLayout.astro"
import { categoriesQuery } from "../lib/queries"
import { Category } from "../lib/interfaces"

const response = await sanityClient.fetch(categoriesQuery)
const data: { categories: Category[] } = await response
const title = "All Categories"
---
<BaseLayout title={`${title} | eMpower`}>
  <div>
    <h2>{title}</h2>
    <br>
    <ul>
      {data.categories.map(category =>
        <li>
          <a href={buildUrl(category._type, category.slug)}>
            {category.title}
          </a>
          <ul>
            {category.posts.map(post =>
              <li>
                <p>
                  <a href={buildUrl(post._type, post.slug)}>{post.title}</a>
                </p>
                <p>
                  {format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}
                </p>
              </li>
            )}
          </ul>
        </li>
      )}
    </ul>
  </div>
</BaseLayout>
