---
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import { categoriesQuery } from "lib/queries"

const response = await sanityClient.fetch(categoriesQuery)
const data = await response
const title = "All Categories"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <br>
    <ul>
      {data.categories.map(category =>
        <li>
          <a href="/categories/${category.slug}">{category.title}</a>
        </li>
      )}
    </ul>
  </div>
</BaseLayout>
