---
import sanityClient from "lib/sanityClient"
import { buildUrl } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import { indexQuery } from "lib/queries"

const response = await sanityClient.fetch(indexQuery)
const data = await response
const title = data.site.siteName
---
<BaseLayout>
  <section>
    <ul>
      {data.sections.map(section =>
        <li key={section.id}>
          <a href={buildUrl(section._type, section.slug)}>{section.menuTitle}</a><br />
          {section.subtitle}
        </li>
      )}
    </ul>
  </section>
</BaseLayout>
