---
import sanityClient from "lib/sanityClient"
import { buildUrl } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import { indexQuery } from "lib/queries"

const response = await sanityClient.fetch(indexQuery)
const data = await response
const title = data.site.siteName
---
<BaseLayout>
  <section>
    <div class="mb-lg">
      <h2 class="text-white center md-left">
        A resource to help everyone improve their wellbeing, self&#8209;esteem
        and mental health through <span class="text-yellow">meditation</span>.
      </h2>
    </div>
    <div class="sections grid mb-md">
      {data.sections.map((section, idx) =>
        <div class="section" key={section.id}>
          <a href={buildUrl(section._type, section.slug)} tabindex="-1">
            <div class=`section__icon color-${idx}`></div>
          </a>
          <a href={buildUrl(section._type, section.slug)}>
            <h3 class="section__text text-grey left">{section.menuTitle}</h3>
          </a>
        </div>
      )}
    </div>
<!--     <div class="mb-lg">
      <h1 class="smaller center serif bold">
        <span class="text-violet">#</span> How are you feeling today?
      </h1>
    </div> -->
    <div>
      <p>
        Wellbeing is the birthright of every person, regardless of background
        or life circumstances. An established body of evidence links stress
        with poor health and behavioural outcomes. eMpower offers very simple
        meditation techniques that harness inner strength and potential,
        enabling the body's natural ability to heal, balance itself and build
        resilience to stress.
      </p>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
@use '../styles/foundation/breakpoints' as b;

.sections {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
  @include b.mq(xl) {
    gap: 2vw;
  }
  @include b.mq(lg) {
    gap: 4em;
    grid-template-columns: 1fr 1fr;
  }
  @include b.mq(md) {
    gap: 1em;
  }
  @include b.mq(sm) {
    grid-template-columns: 1fr;
    gap: 4em;
  }
  a {
    text-decoration: none;
  }
}

.section {
  margin-bottom: 0;
  @include b.mq(md) {
    margin-bottom: 3rem;
  }
  @include b.mq(sm) {
    margin-bottom: 0;
  }
  &__icon {
    width: 100%;
    border: 0.4em solid var(--white);
    aspect-ratio: 1 / 1;
  }
  &__text {
    margin-bottom: -0.7em;
    margin-left: 0.4em;
  }
}

.color-0 {
  background: var(--yellow);
}

.color-1 {
  background: var(--violet);
}

.color-2 {
  background: var(--green);
}

.color-3 {
  background: var(--green);
}

.color-4 {
  background: var(--red);
}

.color-5 {
  background: var(--yellow);
}

.smaller {
  font-size: 5rem;
}
</style>
