---
import sanityClient from "lib/sanityClient"
import { buildUrl, urlFor } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import { indexQuery } from "lib/queries"

const response = await sanityClient.fetch(indexQuery)
const data = await response
const title = data.site.siteName
---
<BaseLayout>
  <section>
    <div class="mb-lg">
      <h2 class="text-white center md-left">
        A resource to help everyone improve their wellbeing, self&#8209;esteem
        and mental health through <span class="text-yellow">meditation</span>.
      </h2>
    </div>
    <div class="sections grid">
      {data.sections.map((section, idx) =>
        <div class="section" key={section._id}>
          <a href={buildUrl(section._type, section.slug)} tabindex="-1">
            <div class=`section__icon color-${idx}`></div>
          </a>
          <a href={buildUrl(section._type, section.slug)}>
            <h3 class="section__text text-grey left">{section.menuTitle}</h3>
          </a>
        </div>
      )}
    </div>
    <div class="mb-xl">
      <h1 class="smaller center">
        <span class="text-violet">#</span> How are you feeling today?
      </h1>
    </div>
    <div class="split-container grid relative">
      <div>
        <p class="side-text text-white">
          Wellbeing is the birthright of every person, regardless of background
          or life circumstances. An established body of evidence links stress
          with poor health and behavioural outcomes. eMpower offers very simple
          meditation techniques that harness inner strength and potential,
          enabling the body's natural ability to heal, balance itself and build
          resilience to stress.
        </p>
      </div>
      <div class="side-image">
        <img
          src={urlFor(data.photograph.image)
            .auto("format")
            .quality(75)
            .url()}
          alt={data.photograph.title}
          width="700"
          height="1000"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
@use '../styles/foundation/breakpoints' as b;

.sections {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
  margin-bottom: 8rem;
  @include b.mq(xl) {
    gap: 2vw;
  }
  @include b.mq(lg) {
    gap: 4em;
    grid-template-columns: 1fr 1fr;
  }
  @include b.mq(md) {
    gap: 1em;
  }
  @include b.mq(sm) {
    grid-template-columns: 1fr;
    gap: 4em;
  }
  a {
    text-decoration: none;
  }
}

.section {
  margin-bottom: 0;
  @include b.mq(md) {
    margin-bottom: 3rem;
  }
  @include b.mq(sm) {
    margin-bottom: 0;
  }
  &__icon {
    width: 100%;
    border: 0.4em solid var(--white);
    aspect-ratio: 1 / 1;
  }
  &__text {
    margin-bottom: -0.7em;
    margin-left: 0.4em;
  }
}

.color-0 {
  background: var(--yellow);
}

.color-1 {
  background: var(--violet);
}

.color-2 {
  background: var(--green);
}

.color-3 {
  background: var(--green);
}

.color-4 {
  background: var(--red);
}

.color-5 {
  background: var(--yellow);
}

.smaller {
  // font-size: 11rem;
  font-size: 7.3vw;
  @include b.mq(md) {
    font-size: 9vw;
  }
  @include b.mq(sm) {
    font-size: 6rem;
  }
}

.split-container {
  grid-template-columns: 1fr 43%;
  gap: 7rem;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.side-text {
  background-color: var(--teal);
  margin: -5.5rem -17rem -5.5rem -8rem;
  font-size: 3.5rem;
  font-size: 2.3vw;
  padding: 5.5rem 17rem 7rem 8rem;
  @include b.mq(lg) {
    font-size: 2.3rem;
    padding: 5.5rem 21rem 7rem 12rem;
  }
  @include b.mq(sm) {
    font-size: 2rem;
    padding: 5.5rem 3% 7rem 3%;
    margin: -5.5rem -3% -5.5rem -3%;
  }
}

.side-image {
  border: 0.4em solid var(--white);
  @include b.mq(lg) {
    width: 60%;
    margin-left: auto;
  }
  @include b.mq(md) {
    width: 80%;
    margin-left: auto;
  }
  @include b.mq(sm) {
    width: 100%;
    margin-left: auto;
  }
  img {
    filter: brightness(1.2) contrast(0.8);
  }
}
</style>
