<section>
  <form>
    <label>First Name</label>
    <input placeholder="Your name...">
    <label>Last Name</label>
    <input type="text" placeholder="Your last name...">
    <label type="email">Email</label>
    <input type="text" placeholder="Your email address...">
    <label for="subject">Subject</label>
    <textarea placeholder="Write something..." style="height:200px"></textarea>
    <input type="submit" value="Submit">
  </form>
</section>

<!-- prettier-ignore -->
<style>
input,
label {
  display: block;
}
</style>
