---
import format from "date-fns/format"
import sanityClient from "../../lib/sanityClient"
import { buildUrl } from "../../lib/utils"
import BaseLayout from "../../layouts/BaseLayout.astro"
import { categoryQuery } from "../../lib/queries"
import { Category } from "../../lib/interfaces"

export async function getStaticPaths() {
  const data: { categories: Category[] } = await sanityClient
    .fetch(categoryQuery)
    .then(response => response)
  return data.categories.map(category => {
    return {
      params: { slug: category.slug },
      props: { category }
    }
  })
}

const { slug } = Astro.request.params
const { category } = Astro.props as { category: Category }
const { title, posts } = category
---
<BaseLayout title={title}>
  <div>
    {title && <h2>Category: {title}</h2>}
    <br>
    <ul>
      {posts.map(post =>
        <li>
          <p><a href={buildUrl(post._type, post.slug)}>{post.title}</a></p>
          <p>{format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}</p>
        </li>
      )}
    </ul>
    <br>
    <p><a href="/categories">All categories</a></p>
  </div>
</BaseLayout>
