---
import BaseLayout from "../layouts/BaseLayout.astro"
import heart from "../icons/heart.svg"
const title = "404"
---
<BaseLayout title="404">
  <div class="sans center">
<!--     <img src={heart} alt="Heart" class="heart" /> -->
    <h1>not found</h1>
    <p class="sacramento">this path does not exist</p>
    <a href="/">home</a>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style lang="scss">
  @use '../styles/foundation/breakpoints' as b;

  .center {
    text-align: center;
  }

  .heart {
    width: 7rem;
    @include b.mq(lg) {
      width: 6rem;
    }
    @include b.mq(sm) {
      width: 5rem;
    }
  }

  .sacramento {
    font-family: Sacramento;
  }
</style>
