---
import BaseLayout from "layouts/BaseLayout.astro"
const title = "404"
---
<BaseLayout title={title}>
  <div class="sans center">
    <h1>not found</h1>
    <p class="sacramento">this path does not exist</p>
    <a href="/">home</a>
  </div>
</BaseLayout>
