---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro"
import heart from "../icons/heart.svg"
const title = "eMpower"
---
<BaseLayout title="home">
  <section class="home">
    <img src={heart} alt="Asterisk" class="asterisk" />
    <h1>{title}</h1>
    <p>coming soon</p>
  </section>
</BaseLayout>

<style lang="scss">
  .home {
    text-align: center;
  }

  .emoji {
    font-size: 10rem;
  }

  .asterisk {
    width: 7rem;
  }
</style>
