---
const year = new Date().getFullYear()
---

<footer>
  <p>&copy; {year}</p>
</footer>

<!-- prettier-ignore -->
<style lang="scss">
  footer {
    width: 100vw;
    padding: 2rem 0;
    color: var(--foreground);
    text-align: center;
    border-top: 1px solid var(--orange);
  }
</style>
