---
const year = new Date().getFullYear()
---

<footer>
  <p>&copy; {year}</p>
</footer>

<!-- prettier-ignore -->
<style lang="scss">
  @use '../styles/foundation/breakpoints' as b;

  footer {
    width: 100vw;
    padding: 2rem 0;
    color: var(--foreground);
    text-align: center;
    p {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
      font-size: 2rem;
      @include b.mq(lg) {
        font-size: 1.75rem;
      }
      @include b.mq(sm) {
        font-size: 1.5rem;
      }
    }
  }
</style>
