---
let title = "Create-Astro-App"
---
<header class="header">
  <p>
    <strong>{title}</strong>
  </p>
</header>

<!-- prettier-ignore -->
<style lang="scss">
  header {
    width: 100vw;
    padding: 2rem 0;
    color: var(--foreground);
    text-align: center;
  }
</style>
