---
import groq from "groq"
import sanityClient from "../sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"

const query = groq`{
  "site": *[_type == "site"][0]{
    keywords, siteDescription, siteName
  }
}`
const response = await sanityClient.fetch(query)
const data = await response
const title = data.site.siteName
---
<BaseLayout>
  <section>
    <h1>{data.site.siteName}</h1>
  </section>
</BaseLayout>

<!-- prettier-ignore -->
<style>
</style>
